.pagination {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.page-item {
  border: 1px black solid;
}

.page-link {
  text-decoration: none;
}
